
body {
    background-color: #cff0f0;
    font-family: 'Goldman', sans-serif; 
   }

div {
    margin: auto;
  }

h1{
  color: #f5f5f8;
}

header {
    margin-top: 80px;
  }

.navbar {
  background-color: #260269; 
  }
  
.modal h1 {
    color: #a300cc;
    text-align: center;
  }
  
.modal p {
    color: #0066cc;
  }

.modal-content {
    background-color: #ecf56a;
  }


.pokemon-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    list-style: none;
    padding: 0;
    text-align: center;
    align-items: center;
  }
  
.button-class {
  color: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
  display: inline-block;  
  font-size: 16px;
  margin-top: 30px;
  width: 75%; 
  height: 75px;
  cursor: progress;
  background-color: #f569c1;; 
  color: black;
  border: 8px solid #09f309;
  border-radius: 10%;
}

@media (max-width: 800px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (max-width: 500px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
}